---
layout: base.njk
title: Not found
permalink: /404.html
---
<h1>Not found</h1>
<p>That page doesn't exist. <a href="{{ '/menus/' | url }}">Browse the menus</a> or <a href="{{ '/' | url }}">go home</a>.</p>
